.film-card {
  width: 450px;
  height: 280px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.film-card__image img {
  width: 180px;
  height: 100%;
  object-fit: cover;
}

.film-card__content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.film-card__title {
  width: 85%;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 28px;
}

.film-card__date {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
}

.film-card__genres {
  margin-bottom: 7px;
  display: flex;
  flex-wrap: wrap;
}

.film-card__genres li {
  padding: 3px 5px;
  margin-right: 8px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.film-card__genres li:last-child {
  margin-right: 0;
}

.film-card__overview {
  margin-bottom: auto;
  font-size: 12px;
  line-height: 22px;
}

.film-card__average {
  width: 30px;
  height: 30px;
  display: flex;
  border: 2px solid #E9D100;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 10px;
}

.film-card__average p {
  margin: auto;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
}