.films-list {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-content: space-around;
  align-content: space-around;
}

.wrap .spinner {
  position: absolute;
  top: 500px;
  left: 50%;
}
